@import "../../../css-config/mixins.scss";

.returns-section {
    margin-bottom: 55px;
    margin-left: 5px;
    margin-right: 5px;

    .returns-heading {
        margin-top: 30px;
        text-align: center;
        line-height: 30px;
        font-size: large;

        @include md {
            font-size: xx-large;
        }
    }



    .returns-desc {
        width: 100%;
        padding: 0px 15px;

        @include md {
            padding: 0px 100px;
        }

        .returns-desc-heading {
            font-size: 20px;

            @include md {
                font-size: 25px;
            }
        }



        .returns-paragraph {
            text-align: justify;
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;

            @include md {
                font-size: 16px;
                font-weight: 200;
            }

            li::marker {
                color: black;
            }

            .bold {
                font-size: 18px;
                font-weight: 200;
                color: black;
            }
        }


    }
}